<section style="padding: 100px 0">
    <div id="products">
        <div class="jumbotron jumbotron-fluid bg-dark">
            <div class="jumbotron-background">
                <img src="../../assets/img/products/hauptsite/geburt.jpg" style="height: 100%; width: 100%">
            </div>
            <div class="container text-white">
                <h1 class="h1-responsive; text-uppercase main-title">Passende selbstgemachte Geschenke für eine Geburt</h1>
                <hr class="my-4">
                <h4 class="main-title text-uppercase">Preis und Motiv auf Anfrage. Per Telefon <a href="tel:0795762753">anrufen</a> oder über das Kontakformular melden. Gerne können Sie uns auch ein Mail schreiben an
                    <a href="mailto:delisa.handwerk@gmail.com">delisa.handwerk@gmail.com</a></h4>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 mb-3" *ngFor="let geburt of geburt" data-aos="fade-down" data-aos-duration="1000">
            <div class="card">
                <img class="img-small" [src]="geburt.img">
                <div class="card-body text-center">
                    <p>{{ geburt.title }}</p>
                    <p>{{ geburt.price }}</p>
                </div>
            </div>
        </div>
    </div>
</div>