<section style="padding: 100px 0">
    <div id="products">
        <div class="jumbotron jumbotron-fluid bg-dark">
            <div class="jumbotron-background">
                <img src="../../assets/img/products/hauptsite/grab.jpg" style="height: 100%; width: 100%">
            </div>
            <div class="container text-white">
                <h1 class="h1-responsive; text-uppercase main-title">Unser Grabschmuck</h1>
                <hr class="my-4">
                <h4 class="main-title text-uppercase">Passend zu jeder Person, hergestellter in mühsamer Handarbeit</h4>
            </div>
        </div>
    </div>
</section>
<div id="products">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 mb-3" *ngFor="let grabSchmuck of grabSchmuck">
                <div class="card">
                    <a routerLink="/grabschmuck-detail/{{grabSchmuck.id}}">
                        <img class="img-small" [src]="grabSchmuck.img">
                    </a>
                    <div class="card-body text-center">
                        <p>{{ grabSchmuck.title }}</p>
                        <p>{{ grabSchmuck.price }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>