<section style="padding: 100px 0; background-color: #e0e0e0 !important; min-height: calc(100vh - 40px);">

    <div class="py-5 bg-light team1">
        <div class="container">
            <div class="row justify-content-center mb-3">
                <div class="col-md-7 text-center">
                    <h1 class="mb-3 font-weight-bold">UNSERE PARTNER</h1>
                </div>
            </div>
            <div class="row">
                <!-- column  -->
                <div class="col-lg-12">
                    <div class="card card-shadow border-0 mb-4">
                        <!-- Row -->
                        <div class="row no-gutters">
                            <div class="col-md-5 pro-pic partner-img" style="background-image: url('../../assets/img/partner/sackgesicht.png');">
                                <div class="card-img-overlay">
                                    <ul class="list-inline position-relative text-center">
                                        <a class="fb-ic" href="https://www.facebook.com/Sackgesichtch-111082280260562/" Title="Facebook">
                                            <mdb-icon fab icon="facebook" size="2x" class="white-text mr-md-3 mr-2"></mdb-icon>
                                        </a>
                                        <a class="ins-ic" href="https://www.instagram.com/sackgesicht_plastikfrei/" Title="Instagram">
                                            <mdb-icon fab icon="instagram" size="2x" class="white-text"></mdb-icon>
                                        </a>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-7 bg-white">
                                <div class="p-4">
                                    <h3 class="mb-3 font-weight-bold">Sackgesicht.ch</h3>
                                    <a href="https://www.sackgesicht.ch" target="_blank">www.sackgesicht.ch</a>

                                    <p>Sackgesicht der Onlineshop für Obstsäcke, Brotsäcke und Gemüsesäcke</p>
                                </div>
                            </div>
                        </div>
                        <!-- Row -->
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- column  -->
                <div class="col-lg-12">
                    <div class="card card-shadow border-0 mb-4">
                        <!-- Row -->
                        <div class="row no-gutters">
                            <div class="col-md-5 pro-pic partner-img" style="background-image: url('../../assets/img/partner/cake-header.jpg');">
                                <div class="card-img-overlay">
                                    <ul class="list-inline position-relative text-center">
                                        <a class="fb-ic" href="https://www.facebook.com/Sackgesichtch-111082280260562/" Title="Facebook">
                                            <mdb-icon fab icon="facebook" size="2x" class="white-text mr-md-3 mr-2"></mdb-icon>
                                        </a>
                                        <a class="ins-ic" href="https://www.instagram.com/cake2take_sweet/?hl=de" Title="Instagram">
                                            <mdb-icon fab icon="instagram" size="2x" class="white-text"></mdb-icon>
                                        </a>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-7 bg-white">
                                <div class="p-4">
                                    <h3 class="mb-3 font-weight-bold">Cake2Take</h3>

                                    <a href="https://www.cake2take.ch" target="_blank">www.cake2take.ch</a>
                                    <p>Zaubert für jeden Anlass süsse und salzige Köstlichkeiten.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Row -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
